/* Variaveis */
:root {
    --primary-color: #122A57;
    --secundary-color: #fff;
}

/* Estilos gerais da aplicação */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* List */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
}

/* Div IMG */
div img {
    display: block;
    width: 100%;
}

.flex-container {
    display: flex;
    max-width: 992px;
    min-width: 320px;
    width: 100%;
    margin: auto;

}

/* Header */
header {
    background-color: var(--primary-color);
    color: var(--secundary-color);
    display: flex;
    align-items: center;
    height: 100px;
    font-family: 'Roboto', sans-serif;
}

/*  Header List Items */
header .list-items {
    display: flex;
    align-items: center;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
}


header .menu {
    justify-content: space-between;
}

.list-items li a {
    color: var(--secundary-color);
}

/* Slogan - Apresentação */
.slogan {
    height: 80vh;
    align-items: center;
    justify-content: space-between;
}

.slogan.texto-slogan p {
    font-weight: bold;
    font-size: 20px;
}

.slogan.texto-slogan {
    min-height: 200px;
    width: 20px;
}

.texto-slogan h1 {
    color: var(--primary-color);
    /*font-size: 48px;*/
    margin-bottom: 10px;
}

/* BTN */
.btn {
    background-color: var(--primary-color);
    color: var(--secundary-color);
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
}

#quem-somos {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    width: 90%;
}

#quem-somos h2 {
    font-size: 32px;
    color: var(--primary-color);
    display: flex;
    margin-bottom: 20px;
}

#quem-somos h2::before {
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: var(--primary-color);
    position: relative;
}

#quem-somos img {
    min-width: 420px;
}

.container-externo {
    background-color: var(--primary-color);
    width: 100%;
}


#servicos {
    flex-direction: column;
    padding: 50px 0 80px 0;
}

#servicos h2 {
    color: var(--secundary-color);
    font-size: 32px;
    margin-bottom: 20px;
}

.list-servicos {
    display: flex;
    justify-content: space-between;
}

.list-servicos .item-servicos {
    text-align: center;
}

.item-servicos a {
    width: 220px;
    background-color: var(--secundary-color);
    border-radius: 30px;
    height: 50px;
    text-align: center;
    margin-top: 30px;
    line-height: 50px;
    /**/
    padding: 10px 15px;
    /**/
    color: #122A57;
    /**/
    text-decoration: none;
    /**/
    font-weight: bold;
}

.item-servicos p {
    font-weight: bold;
    font-size: 20px;
    color: var(--secundary-color);
    margin-top: 20px;
    margin-bottom: 20px;
}


.item-servicos img {
    width: 80%;
    margin: auto;
}

/* Planos */
#planos {
    flex-direction: column;
    min-height: 100vh;
    padding: 50px;
}

#planos h2 {
    font-size: 32px;
}


.list-planos {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.item-plano {
    flex: 1;
    border: 5px solid #122A57;
    margin-right: 20px;
    padding: 10px;
    max-width: 240px;
}


.item-plano .btn {
    margin: auto;
    margin-bottom: 20px;
}

.item-plano h3 {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.item-plano h3::after {
    content: "";
    background-color: #122A57;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}


.item-plano ul {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


.item-plano ul li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}


.item-plano ul li::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #122A57;
    margin-right: 5px;
}


/* Footer */
footer {
    background-color: #122A57;
    height: 70px;
    display: flex;
    align-items: center;
}


footer .footer {
    justify-content: space-between;
    color: var(--secundary-color);
}


/*mobile*/
@media(max-width:992px) {
    .flex-container {
        width: 100%;
        flex-direction: column;
    }

    .slogan {
        flex-direction: column-reverse;
        align-content: center;
        
    }

    .slogan .texto-slogan {
        width: 100%;
        margin-bottom: 40px;
        align-items: center;
    }

    #quem-somos {
        flex-direction: column-reverse;

    }

    #quem-somos {
        min-width: 50%;
        margin: auto;
        margin-bottom: 30px;

    }

    .list-servicos {
        flex-direction: column;
    }

    .item-servicos img {
        width: 50%;
        margin: auto;
    }

    .list-planos {
        flex-direction: column;
        text-align: center;
        align-content: flex-start;
        
        
    }

    .list-planos .item-plano {
        max-width: 50%;
        margin: auto;
        width: 50%;
        margin-bottom: 20px;
        align-content: flex-start;
    }

    .footer{
        max-width: 25%;
        margin: auto;
    }
}